[defaults]
inventory = inventory/inventory.ini
host_key_checking = False
remote_user = tuz
private_key_file = ~/.ssh/id_rsa
roles_path = roles

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True