apiVersion: v1
kind: Service
metadata:
  name: ingressgateway-app
  labels:
    app: ingressgateway-app
    istio: ingressgateway-app
spec:
  ports:
    - name: rest-8443
      port: 8443
      targetPort: 8443
      protocol: TCP
  selector:
    app: ingressgateway-app
    istio: ingressgateway-app
---
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: svc-https-gw
spec:
  selector:
    istio: ingressgateway-app
  servers:
    - hosts:
        - app.naebank.k8s.ru
      port:
        name: rest-8443
        number: 8443
        protocol: HTTPS
      tls:
        mode: SIMPLE
        serverCertificate: /vlt/istio/secrets-crt/server.crt
        privateKey: /vlt/istio/secrets-crt/server.key
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: ingress-syngx-vs
spec:
  exportTo:
    - .
  gateways:
    - svc-https-gw
  hosts:
    - app.naebank.k8s.ru
  http:
    - headers:
        request:
          remove:
            - X-Forwarded-For
            - X-Forwarded-Client-Cert
            - x-envoy-peer-metadata
      match:
        - uri:
            prefix: /app/syngx/
      rewrite:
        uri: /
      route:
        - destination:
            host: syngx
            port:
              number: 8080
---
apiVersion: networking.istio.io/v1alpha3
kind: DestinationRule
metadata:
  name: svc-https-mtls-before-ingress-dr
spec:
  exportTo:
    - .
  host: ingressgateway-app
  trafficPolicy:
    loadBalancer:
      simple: ROUNDROBIN
    portLevelSettings:
      - port:
          number: 8080
        tls:
          mode: ISTIO_MUTUAL